$main-bg-color: #adadad;
$main-font-color: #222;
$accent-font-color: #5e94d3;

html
{
  font-family: 'Open Sans', sans-serif;
}
body {
  margin: 0;
}

.nuxt-link-active, .next-link-active:hover {
  background-color: $main-bg-color !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave {
  opacity: 0;
}